<div [style]="{ display: 'flex', 'flex-direction': 'column', gap: '1rem' }">
  @for (cdt of vacancies(); track cdt.id) {
    <div class="card">
      <div>
        <p>
          <b [style.font-size.rem]="1.5" [style.margin-right.rem]="0.25">{{ cdt.name }}</b>
          <span [style]="{ color: '#6b7280', 'font-size': '1.25rem' }">
            {{ `(${cdt.region}, от ${cdt.income})` }}
          </span>
        </p>
        <p [style.margin-top.rem]="0.5">
          {{ `Краткое описание: ${cdt.requirements}` }}
        </p>
        <p [style.margin-top.rem]="0.5">
          {{ `Обязанности: ${cdt.duties}` }}
        </p>
        <div [style.margin-top.rem]="0.5">
          <div [style]="{ display: 'flex', 'flex-wrap': 'wrap', gap: '0.25rem' }">
            <span>Что нужно знать:</span>
            @for (skill of cdt.software_skills.split(' '); track skill) {
              <span class="card-tag">{{ skill }}</span>
            }
            @for (skill of cdt.software_knowledges.split(', '); track skill) {
              <span class="card-tag">{{ skill }}</span>
            }
          </div>
        </div>
      </div>
      <a class="card-link" [routerLink]="[cdt.id]">Кандидаты</a>
    </div>
  } @empty {
    <p [style]="{ color: '#6b7280', 'font-size': '1.25rem', 'text-align': 'center' }">
      {{ loader() ? 'Пожалуйста, подождите' : 'Не удалось найти вакансии' }}
    </p>
  }
</div>
